**/.env

# Editor directories and files
**/.vscode/*
**/!.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Python directories and files
**/*__pycache__*
**/*venv
